body {
    background-image: linear-gradient( rgba(20, 28, 94, 0.5),rgba(255, 255, 255, 0.849)),
    url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRR_j8YCtE2kBUEeQHp7qWG6_C_oWP302UfBQ&usqp=CAU"); 
    background-color: #93b4e9;
    color: white;
    font-family: open sans,sans-serif;
}

.H2{

    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    text-align: center;

}


.container {
    margin: 3% 5%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__title {
    line-height: 1.35;
    font-weight: 350;
}

.header__logo {
    height: 180px;
    width: auto;
}

.content {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.column {
    display: flex;
    flex-direction: column;
    box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
}

.left_plot {
    border-radius: .55rem;
    width: 45.3333333333%;
    background-color: #bccef2;
}

.left_plot--graph {
    height: 100%;
}

.right_plot {
    width: 30.6666666667%;
    margin-left: 15px;
    background-color: #bccef2;
}

.middle_plot {
    width: 30.6666666667%;
    margin-left: 15px;
    background-color: #6f8ecc;
}
.paragraphe {
    line-height: 1.2;
    font-weight: 300;
    padding: 5px;

}